
@{
    ViewBag.Title = "메인페이지";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--구 배너
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script language="JavaScript">
    $(document).ready(function() {
        var $banner = $(".banner").find("ul");

        var $bannerWidth = $banner.children().outerWidth();//이미지의 폭
        var $bannerHeight = $banner.children().outerHeight(); // 높이
        var $length = $banner.children().length;//이미지의 갯수
        var rollingId;

        //정해진 초마다 함수 실행
        rollingId = setInterval(function() { rollingStart(); }, 3000);//다음 이미지로 롤링 애니메이션 할 시간차

        function rollingStart() {
            $banner.css("width", $bannerWidth * $length + "px");
            $banner.css("height", $bannerHeight + "px");
            $banner.animate({left: - $bannerWidth + "px"}, 1500, function() {
                $(this).append("<li>" + $(this).find("li:first").html() + "</li>");
                $(this).find("li:first").remove();
                $(this).css("left", 0);
            });
        }
    });
</script>
-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function () {
        $('.slider').bxSlider();
    });
</script>




<div class="container" style="padding-top:140px">

    <div class="slider">
        <div><img src="/content/images/b1.png" style="width:100%;height:100%;" /></div>
        <div><img src="~/content/images/b2.png" style="width:100%;height:100%;" /></div>
        <div><img src="~/content/images/b3.png" style="width:100%;height:100%;" /></div>
    </div>

    <!--구슬라이드
            <div class="banner">
                <ul>
                    <li><img src="~/content/images/banner1.jpg" width="1080px" height="610px"></li>
                    <li><img src="~/content/images/banner2.jpg" width="1080px" height="610px"></li>
                    <li><img src="~/content/images/banner3.jpg" width="1080px" height="610px"></li>
                </ul>
            </div>
    -->
</div>

<div id="fullpage">

    <div class="section" id="section2">
        <div class="container text-center">
            <h2>스마트레이저 서비스</h2>
            <p>스마트레이저의 특별한 점</p>
            <p>스마트레이저는 단체 특성에 따라 적절하게 사용할 수 있는 효과적인 솔루션입니다.</p>

            <div class="col-sm-4">
                <img src="~/content/images/section_02_img1_new01.png" />
                <div class="box">
                    <h3>스마트레이저는</h3>
                    <p>
                        후원자 및 후원금 관리를 비롯하여, 단체의 모금활동을 기획하고 실행하여 관리할 수 있는 모금 솔루션입니다.
                        단체의 모든 데이터를 통합하고 연계하여 관리할 수 있습니다.
                        자동화 기능을 통해 모금 행정에 투입하는 시간을 줄일 수 있어 모금 기획과 분석을 강화할 수 있습니다.
                    </p>
                </div>
                <p class="link"><a href="@Url.Action("smartraiser1")">READ MORE</a></p>
            </div>
            <div class="col-sm-4">
                <img src="~/content/images/section_02_img2.png" />
                <div class="box">
                    <h3>온라인 페이지 제작</h3>
                    <p>
                        후원자들의 즉시 참여가 가능한 온라인서비스를 소개합니다.
                    </p>

                    <ul>
                        <li>홈페이지 후원하기를 통한 간편 기부(SmartGive)</li>
                        <li>참여형 기부가 가능한 물품 구매 기부(SmartGift)</li>
                        <li>어린이 결연 시 즉시 선물이나 편지 전송(SmartPartner)</li>
                        <li>자원봉사 신청과 확인증 즉시 발급(SmartVolunteer)</li>
                        <li>이벤트 참여 및 신청 확인(SmartSurvey)</li>
                        <li>온라인 뉴스레터 신청</li>
                    </ul>
                    <p>
                        <br />스마트레이저의 온라인서비스(SmartGive)는 즉각 설치하여 바로 사용할 수 있는 편리한 서비스입니다.
                    </p>
                </div>
                <p class="link"><a href="@Url.Action("interlock")">READ MORE</a></p>
            </div>
            <div class="col-sm-4">
                <img src="~/content/images/section_02_img3.png" />
                <div class="box">
                    <h3>스마트코칭</h3>
                    <ul>단체에 대한 전문성 있는 코칭 제공</ul>
                    <p>스마트레이저는 100년 역사와  전문성을 자랑하는 Brakeley와 ㈜도움과나눔의 실제적인 모금 컨설팅 경험과 지식을 담아 탄생하였습니다. 이러한 노하우를 바탕으로 이제, 스마트레이저에서 단체 진단 및 모금 코칭을 지원합니다.</p>
                    <p>스마트코칭을 통해 우리 단체의 현안 진단 및 역량 강화를 시도할 수 있습니다.</p>
                    <ul>
                        <li>단체 진단 및 컨설팅</li>
                        <li>역량강화를 위한 코칭 및 워크샵</li>
                        <li>스마트레이저를 활용하는 모금 실행 코칭</li>
                    </ul>
                </div>
                <p class="link"><a href="@Url.Action("coaching")">READ MORE</a></p>
            </div>
        </div>
    </div>

    <div class="section" id="section1">
        <div class="container">
            <h2 class="text-center">서비스 리뷰</h2>
            <div class="container pd60">
                <div class="col-sm-6 pdt30">
                    <a href="http://volunteeringculture.or.kr/" target="_blank"><img src="~/content/images/review_logo10_new.png" alt="" class="img-responsive" width="220" /></a>
                </div>
                <div class="col-sm-6 pdt30">
                    <h3 style="font-size:25px; color:#f8013a; display:inline-block;"><strong>한국자원봉사문화</strong></h3>
                    <h3 style="font-size:17px; display:inline-block; line-height:1.5em">
                        <br />
                        "본 진단 컨설팅으로 인해, 20주년 기념행사 기획을 모금에 대한 관점에서 진행한 것이 큰 의의라 할 수 있습니다.
                        <br />
                        ① 모금에의 관점은 이벤트 참석자에게 단체의 Social Position 상승
                        <br />
                        ② 단체가 모금하는 곳이라는 인식을 대내외에 천명
                        <br />
                        ③ 단체의 이사진들의 모금에 대해 반응 시작(부담을 느끼기 시작)
                        <br />
                        ④ 행사를 함께 준비한 후원사들의 올해 사업 증대 및 기업의 문의 증대 등의 성과를 확인하는 기쁨이 있었습니다."
                    </h3>
                </div>

                <div style="clear:both;" class="pdone"></div>
                <div class="col-sm-6 pdt30">
                    <a href="http://binchae.org/" target="_blank"><img src="~/content/images/review_logo2.png" alt="" class="img-responsive" width="220" /></a>
                </div>
                <div class="col-sm-6 pdt30">
                    <h3 style="font-size:25px; color:#a52890; display:inline-block;"><strong>재단법인 빈손채움</strong></h3>
                    <h3 style="font-size:17px; display:inline-block; line-height:1.5em">
                        <br />
                        "스마트레이저는 오랜 모금 프로그램 노하우와 열정으로 비영리단체들의 모금 업무에 큰 도움을 주고 있습니다.
                        스마트레이저를 사용한지 2년차인 저희 단체는 후원자 수도 배로 늘었고,
                        무엇보다 안정적이고 신뢰할 만한 동반자가 생겨서 든든합니다.
                        투명하고 효과적인 모금 행정을 추구하는 단체들에게 강력 추천합니다."
                    </h3>
                </div>

                <div style="clear:both;" class="pdone"></div>

                <div class="col-sm-6 pdt30">
                    <a href="http://www.greenasia.kr/" target="_blank"><img src="~/content/images/review_logo4.png" alt="" class="img-responsive" width="220" /></a>
                </div>
                <div class="col-sm-6 pdt30">
                    <h3 style="font-size:25px; color:#026835; display:inline-block;"><strong>푸른아시아</strong></h3>
                    <h3 style="font-size:17px; display:inline-block; line-height:1.5em">
                        <br />
                        "스마트레이저는 조직의 다양하고 많은 후원자를 효율적으로 관리할 수 있는 프로그램입니다.
                        분석 친화적이라 자료 업로드와 추출 기능이 매우 편리합니다.
                        직원의 서비스 또한 매우 훌륭하였고, 다양한 문의 경로 덕분에 답변 역시 빠릅니다."
                    </h3>
                </div>
            </div>

            <p class="link text-center"><a href="@Url.Action("about2")">더 많은 리뷰 보러 가기</a></p>
        </div>
    </div>

    <div class="section" id="section5" style="background-color:#ebeced">
        <div class="container text-center">
            <h2>단체 무료 진단</h2>
            <p>
                모금을 막 시작한 단계이신가요? <br />
                기부자 관리의 필요성을 느끼고 계신가요?<br />
                많은 데이터를 대신 관리해 줄 프로그램을 찾고 계신가요?<br />
            </p>
            <img src="~/content/images/main_review.png" />
            <p class="link"><a href="https://cs.smartraiser.co.kr/api/smartraisercs/survey/Survey?id=8079" target="_blank">우리 단체 진단하러 가기</a></p>
        </div>
    </div>

    <!--section1-->
    <!--//section1-->
    <!--sectionAdditional-->
    <!--//sectionAdditional-->
    <!--section6-->
    <div class="section" id="section6">
        <div class="container">
            <h2 class="text-center">CONTACT US</h2>

            <div class="col-sm-7">
                <img src="~/content/images/section_06_img.png" alt="" />
            </div>
            <div class="col-sm-5">
                <p>성공적인 모금관리,<br /><strong>스마트레이저</strong>와 함께하세요!</p>
                <a href="https://cs.smartraiser.co.kr/api/smartraisercs/survey/Survey?id=8078" target="_blank" onclick="gtag('event', '스마트레이저에 문의하기 클릭', {'event_category': '스마트레이저에 문의하기', 'event_label': '@ViewBag.Title' });">스마트레이저에 문의하기</a>
                <a href="https://cs.smartraiser.co.kr/api/smartraisercs/newsletter/subscribe" target="_blank" onclick="gtag('event', '뉴스레터 구독 신청하기 클릭', {'event_category': '뉴스레터 구독신청', 'event_label': '@ViewBag.Title' });">뉴스레터 구독 신청하기</a>
                <a href="https://talk.naver.com/WC9P4Z" target="_blank" onclick="gtag('event', '톡톡문의 클릭', {'event_category': '톡톡문의', 'event_label': '@ViewBag.Title' });">톡톡으로 실시간 문의하기</a>
            </div>
        </div>

    </div>
    <!--//section6-->
</div>

